.footer-bg-color{
    background: linear-gradient(180deg, rgb(195, 247, 235) 0%, rgba(255, 255, 255, 1) 100%, rgba(37, 37, 37, 1) 100%);
}
.whats-app-icon{
    border: 2px solid green;
}
.under-line-footer-text{
    text-decoration: underline;
}
.Useful-Links li:hover{
    text-decoration: underline;
    background-color:azure;
}
@media (max-width: 768px) {
    .list-unstyled p,
    .list-unstyled li{
        text-align: left;
    }
}